* {
    box-sizing: border-box;
  }
  
  .footerp{
    color: #dcd5c3;
  }
  
  body {
    margin: 0;
    min-width: 992px;
    height: 100%;
    font-family: "Helvetica";
    background-color: #1d302a;
  }
  
  .navbar{
    height: 60px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #dcd5c3;
  }
  .navbar #logo {
    line-height: 30%;
  }
  .navbar #logo img{
    vertical-align: middle;
  }
  
  .navbar #menu {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
    
  }
  .navbar #menu li {
    float:left;
    margin-left: 50px;
    line-height: 60px;
  }
  
  .navbar #menu li a {
    text-decoration: none;
    color: #545454 ;
    font-size: 13px;
    font-weight: bold;
  }
  
  .header{
    height: 50px;
    background-image: url("../images/hero_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #dcd5c3;
    
  }
  
  .products h3{
    font-size: 24px;
    color: #dcd5c3;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
  }
  .product-list{
    width: 735px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-top: 0px;
    
  }
  .product{
    width: 225px;
    text-align: center;
    display: block;
    color: gray;
    text-decoration: none;
    float: left;
    margin-left:10px;
    margin-right: 10px;
    margin-bottom: 80px;
    background-color: white;
    margin-top: 10px;
  }
  
  .product-name{
    margin-top: 20px;
    margin-bottom: 4px;
    
  }
  .clearfix{
    clear: both;
  }
  
  .footer{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
  
  }
  .footer a{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
  }
  
  @media screen and (max-width:768px){
    .header {
        width: 100%;
    }
    body{
        width: 100%;
    }
    .products h3{
        width: 100%;
        margin-top: 60px;
        margin-bottom: 60px;
        text-align: center;
    }
    .products {
        width: 75%;
    }
    .product-list{
        width: 100%;
    }
    .navbar #menu{
        width: 65%;
    }
    .footer {
        width: 75%;
    }
  }
  @media screen and (max-width:500px){
    .navbar #logo{
        overflow: hidden;
        
    }
    .navbar #logo img{
        position: absolute;
        width: 70%;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .navbar #menu{
        width: 100%;
    }
    .navbar {
        width: 70%;
    }
    .header {
        width: 50%;
        height: 400px
    }
    body{
        width: 50%;
        min-width: none;
    }
    .products h3{
        width: 100%;
        margin-top: 60px;
        margin-bottom: 60px;
        text-align: center;
    }
    .products {
        width: 50%;
    }
    .product-list{
        width: 100%;
    }
    .footer {
        width: 50%;
    }
    }

.wrapper {
    width: 100%;
    background: white;
    border-radius: 10px;
    padding: 25px;
}

.wrapper .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.wrapper .nav .current-date {
    font-size: 24px;
    font-weight: 600;
}

.wrapper .nav button {
    width: 38px;
    height: 38px;
    font-size: 20px;
    color: #878787;
}

.calendar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
    margin-left: -40px;
}

.calendar .weeks li {
    font-weight: 600;
}

.calendar .days {
    margin-bottom: 20px;
}

.calendar ul li {
    width: calc(100% / 7);
    position: relative;
}

.calendar .days li {
    margin-top: 30px;
    font-weight: 200;
}

.days li.inactive {
    color: #b1b1b1;
}

.calendar .days li::before {
    list-style: none;
    position: absolute;
    content: attr(li);
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.days li:hover::before {
    background-color: #1d302a;
}