html, body{
    margin: 0px;
    height: 100%;
}

header{
    background-color: cornflowerblue;
    text-align: center;
    height: 10%;
    padding: 10px;
}

nav{
    background-color: lightskyblue;
    float:left;
    width: 20%;
    height: 50%;
}

section{
    background-color: lightcyan;
    float:left;
    width: 80%;
    height: 50%;
}

footer{
    background-color: lightcoral;
    text-align: center;
    clear: both;
    height: 10%;
    height: 50px;
    padding: 0px;
}
@media screen and (max-width: 768px) {
    nav, section, footer{
        width: 100%;
    }
}